/*-----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------- 
   
  Colours
  
-------------------------------------------------------------------------------------------------------------------------    
-----------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------- 
  Primary Colours
--------------------------------*/

$primary: #2f4b5c;
$primary-dark: #213b4b;
$secondary: #ffbd47;
$white: #fff;

/*-------------------------------- 
  Greys
--------------------------------*/

$lt-grey: #f5f5f5;
$lt-mid-grey: #eee;
$mid-grey:#222;
$dark-grey: #35393b;
$black:     #111;


/*-----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------- 
   
  Fonts
  
-------------------------------------------------------------------------------------------------------------------------    
-----------------------------------------------------------------------------------------------------------------------*/

$font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$content-font: $font;
$font-size: 14px;